#div-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 1000px;
    border: 6px solid white;
    color: white;
    background-image: url(/Images/connexion.jpg);
    background-size: cover;
}

a{color: white;}

body {background-image: url(../Images/fond\ d\'écran\ connexion.jpg);
background-size: cover;
font-size: 19px;}

h1 {font-size: 120px;
text-align: center;
color: goldenrod;}