
@font-face {
    font-family:MaPolice;
    src: url(Agbalumo-Regular.ttf);
}

body{
    background-image:url(../Images/9525a73dcfd017714cf7477ce601f558.jpeg);
    background-size: cover;
    color: white;
    font-size: 50PX;
    font-family: MaPolice;
    text-align: center;
}

h1{
    color: re;
    font-family: MaPolice;
    text-align: center;
    font-size: 100PX;
    background-image: url(../Images/terrain\ tennis.jpg);
}

#test-radius{
    width: 635px;
    height: 100px;
    background-color: rgb(242, 255, 0);
    text-align: center;
    color: black;
    font-family: MaPolice;
}

.im{width: 200px;height: 150px;}

footer{
    display: flex; justify-content: space-around;
}

footer{
    display: flex; justify-content: space-around;
}

.im{width: 200px;height: 150px;}

#logo{
    height: 200px;
}

header{
    display:flex;
    justify-content: space-around; 
    align-items: center;
    background-image: url(../Images/pelouse.jpg);
    height: 200px; 
    font-family: MaPolice;
    font-size: 50px;
}

a{color: white;}

.ballon{height: 70px;W: 70px;}
