
@font-face {
    font-family:MaPolice;
    src: url(Agbalumo-Regular.ttf);
}

body{
    background-image:url(../Images/Capture\ d’écran\ 2023-11-15\ 094659.jpg);
    color: white;
    font-size: 50PX;
    font-family: MaPolice;
    text-align: center;
}

h1{
    color: red;
    font-family: MaPolice;
    text-align: center;
    font-size: 100PX;
}

#test-radius{
    width: 635px;
    height: 100px;
    background-color: rgb(242, 255, 0);
    text-align: center;
    color: black;
    font-family: MaPolice;
}

.im{width: 200px;height: 150px;}

footer{
    display: flex; justify-content: space-around;
}
