
@font-face {
    font-family:MaPolice;
    src: url(Agbalumo-Regular.ttf);
}

h1{
    color: red;
    font-family:MaPolice;
    text-align: center;
    font-size: 150px;
    background-image: url(../Images/Titres.png);
    background-size: cover;
    width: 60%;
    
}

h2{
    color: red;
    font-family:MaPolice;
    text-align: center;
    font-size: 70PX;
    background-image:url(../Images/terrain\ tennis.jpg);

}

body{
    background-image:url(../Images/Capture\ d’écran\ 2023-11-15\ 094659.jpg);
    background-size: cover;
    color: white;
    font-size: 50PX;
    font-family: MaPolice;
}


#filtres{
    display: flex;
    justify-content: space-around;
    color: white;
}
.abc{width: 10px;}

.banière{width: 1192px;height: 250px;}

#rechercher{
    font-family: MaPolice;
    text-align: center;
    font-size: 80px;
}

.img{
    height: 400px; width: 400px;
}
.increase{width: 50px;height: 50px;}
.checkbox{width: 30px;height: 30px;}

.im{width: 200px;height: 150px;}

footer{
    display: flex; justify-content: space-around;
}

header{display:flex;justify-content: space-around; background-image: url(../Images/pelouse.jpg);height: 200px; font-family: MaPolice;}

a{color: white;}

.ballon{height: 70px;W: 70px;}

