
@font-face {
    font-family:MaPolice;
    src: url(Agbalumo-Regular.ttf);
}

h1{
    color: red;
    font-family:MaPolice;
    text-align: center;
    font-size: 50px;
    background-image: url(../Images/terrain\ tennis.jpg);
    
}

h2{
    color: red;
    font-family:MaPolice;
    text-align: center;
    font-size: 40PX;
    background-image:url(../Images/terrain\ tennis.jpg);

}

body{
    background-image:url(../Images/Capture\ d’écran\ 2023-11-15\ 094659.jpg);
    background-size: cover;
    color: white;
    font-size: 10PX;
    font-family: MaPolice;
}


#filtres{
    display: flex;
    justify-content: space-around;
    color: white;
}
.abc{width: 10px;}

.banière{width: 400px;height: 80px;}

#rechercher{
    font-family: MaPolice;
    text-align: center;
    font-size: 17px;
}

.img{
    height: 160px; width: 134px;
}
.increase{width: 20px;height: 20px;}
.checkbox{width: 10px;height: 10px;}

.im{width: 60px;height: 60px;}

footer{
    display: flex; justify-content: space-around;
}

header{
    display:flex;
    justify-content: space-around; 
    align-items: center;
    background-image: url(../Images/pelouse.jpg);
    height: 90px; 
    font-family: MaPolice;
    font-size: 13px;
}

a{color: white;}

.ballon{height: 40px;width: 40px;}

#logo{
    height: 90px;
}
