@font-face {
    font-family:MaPolice;
    src: url(Agbalumo-Regular.ttf);
}

body{
    background-image:url(../Images/Capture\ d’écran\ 2023-11-15\ 094659.jpg);
    color: white;
    font-size: 15PX;
    background-size: cover;
}

h1{
    color: red;
    font-family:MaPolice;
    text-align: center;
    font-size: 50PX;
    background-image:url(../Images/terrain\ tennis.jpg);
}


.top{width: 200px; height: 200px;}
#top{justify-content: space-around;display: flex;}


figcaption{font-family: MaPolice;color: yellow;text-align: center;}

#rechercher{font-family: MaPolice; font-size: 15px;

}

footer{
    display: flex; justify-content: space-around;
}

.im{width: 60px;height: 60px;}

#quantités{
    font-size: 15px;
}

/* #black{display: flex; position: absolute; } */
#black {
    display: block;
    width: 750px;height: 150px;;
    margin: auto;
  }

  header{
    display:flex;
    justify-content: space-around; 
    align-items: center;
    background-image: url(../Images/pelouse.jpg);
    height: 90px; 
    font-family: MaPolice;
    font-size: 13px;
}

a{color: white;}

.ballon{height: 40px;width: 40px;}

#logo{
    height: 90px;
}
