


@font-face {
    font-family:MaPolice;
    src: url(Agbalumo-Regular.ttf);
}

body{
    background-image: url(../Images/Capture\ d’écran\ 2023-11-15\ 094659.jpg);
    color: white;
    background-size: cover;
    font-size:12px;
}

.ballon{height: 70px;W: 70px;}

H1{color: black; font-size: 40px;text-align: center;border: double;
    background: linear-gradient(to right, #A0342F, yellow);
    border-radius: 20px;  
}

h2{
    font-size: 20px;
    background-image: url(../Images/terrain\ tennis.jpg);
    text-align: center;
}

a{color: white;}

footer{
    display: flex; justify-content: space-around;
}

.im{width: 60px;height: 60px;}


header{
    display:flex;
    justify-content: space-around; 
    align-items: center;
    background-image: url(../Images/pelouse.jpg);
    height: 90px; 
    font-family: MaPolice;
    font-size: 13px;
}

a{color: white;}

.ballon{height: 40px;width: 40px;}

#logo{
    height: 90px;
}
